.hero {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
/*позиционирование картинки*/
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-backend.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.hero__title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--focus-color);
/* padding: 200px 452px 280px 452px; */
margin-left: auto;
margin-right: auto;
}

/*----BUTTON------*/
.hero__btn {
background: #2196F3;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
cursor: pointer;
width: 200px;
height: 50px;
margin-top: 30px;
border-radius: 4px;

transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #188CE8;
    }
}
